<!DOCTYPE html>
<html>
    <head><title>Resultados de la carga</title></head>
    <body>
        <h3>{{ msg }}</h3>

        <table>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Correo</th>
            </tr>
            {% for data in registros %}
            <tr>
                <td>{{ data[0] }}</td>
                <td>{{ data[1] }}</td>
                <td>{{ data[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>