body {
    color: navy;
    font-size: 15px;
    background-color: #FFFFAA;
}

h1, h2 {
    color:chocolate;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 18px;
    font-style: italic;
}

section {
    background-color: cadetblue;
    color: crimson;
}

#segunda_seccion {
    border: black 2px solid;
    border-radius: 20px;
    background-color: white;
}

nav {
    background-color: #aaaaff;
    color: whitesmoke;
    padding: 10px;
    margin: 20px;
    text-align: center;
}